.navig {
	text-align:center;
	padding:20px 20px 20px 20px;
} 

.navig img {
	margin: 5px 20px 0px 20px;
}
 

img:hover {
	cursor:pointer;
} 


.container {
	margin-top:5%;
	text-align:center;
} 

.container input {
	background-image: url("img/button/input.png"); border:2px;
	border-radius:5px;
	margin-top:10px;
	width:150px;
	height:30px;
	text-align:center;
}
 
.container img {
	margin-top:30px;
}	
